
body {
    height: 100vh;
    width: 100vw;
    box-sizing: border-box;
    background-color: rgb(32, 23, 23);
    color: aliceblue;
}

nav {
    height: 8.6vh;
    width: 100vw;
    box-sizing: border-box;
    display: flex;
    position: fixed;
    top: 20px;
}

ul {
    display: flex;
}

ul li {
    display: flex;
    padding: 1vh 1vw;
}

ul li a {
    color: rgba(205, 202, 202, 0.523);
    text-decoration: none;
}

ul #ao a {
    color: #FFA500;
}

.mid_nav {
    padding: 0vh 26vw;
}

#one a {
    color: #FFA500;
}


.last_nav {
    display: flex;
    justify-content: end;
    padding: 0vh 0vw;
    background-color: #FFA500;
    border-radius: 9px;
}

.last_nav li a {
    color: rgb(0, 0, 0);
}

a:hover{
    color: rgb(250, 167, 167);
}
main {
    padding: 0.4em;
    margin: 1.6em;
    font-size: 1.8em;
}

main yo {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


main yo mo h2 {
    text-indent: 1%;
}

main yo mo h1 {
    color: #FFA500;
    text-align: left;
    text-indent: 2%;
}
@media only screen and (max-width: 599px) {
    main yo circle {
        display: none;
    }
}
@media only screen and (min-width: 600px) {
    main yo circle {
        height: 600px;
        width: 600px;
        box-sizing: border-box;
        background-color: #242424;
        border-radius: 50%;
        display: inline-block;
    
    }
}

main yo circle img {
    border-radius: 50%;
    width: 600px;
    height: 600px;
    object-fit: cover;
    margin-bottom: 20px;
}

main yo mo img {/*Check*/
    height: 40px;
    width: 40px;
}

section {
    margin: 3.7%;
    display: flex;
    flex-direction: column;
    justify-content: center;

}

section h1 {
    font-size: 3em;
    text-align: center;
}

section h2 {
    text-align: center;
    color: #636262;
}

box,box2 {
    margin: 4%;
    display: flex;
    flex: 1 1 calc(33.333% - 40px);
    justify-content: space-around;
}
#on, #tw, #th, #fo,#fi,#si{
    overflow: auto;
}
box div, box2 div {
    height: 37vh;
    width: 20vw;
    background-color: rgb(65, 64, 64);
    border-radius: 50px;
}


box div h1, box2 div h1 {
    text-align: center;
    color: #FFA500;
}

.center {
    height: 80px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    width: 50%;
}

box div p,
box2 div p {
    color: rgb(168, 168, 168);
    text-align: center;
    font-size: 1.27em;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 2em;
}

.about-me {
    text-align: center;
    padding: 7vh 2vw;
}

.about-me h1 {
    font-size: 36px;
    margin-bottom: 6vh;
}

.about-me h2 {
    font-size: 20px;
    font-weight: normal;
    color: #cccccc;
    margin-bottom: 10vh;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.image img {
    border-radius: 50%;
    width: 23vw;
    height: 46vh;
    object-fit: cover;
    margin-bottom: 6vh;
}

.description {
    max-width: 800px;
    text-align: center;
}
.description a:hover {
    color: black;
}

.description p {
    font-size: 16px;
    line-height: 1.6;
}

.download-cv {
    display: inline-block;
    margin-top: 2vh;
    padding: 1vh 1vw;
    background-color: #FFA500;
    color: #ffffff;
    text-decoration: none;
    border-radius: 5px;
}

.skills {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 5vh 5vw;
}

.skill {
    text-align: center;
    margin: 2em;
}

.skill img {
    width: 9vw;
    height: 17vh;
    margin-bottom: 10px;
}

.skill p {
    font-size: 18px;
    line-height: 1.4;
}



.contact-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.contact-form {
    background-color: #2e2e2e;
    padding: 4em;
    border-radius: 10px;
    width: 90%;
    max-width: 800px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.contact-form h1 {
    text-align: center;
    font-size: 36px;
    margin-bottom: 10px;
}

.contact-form p {
    text-align: center;
    color: #cccccc;
    margin-bottom: 40px;
}

form {
    display: flex;
    flex-direction: column;
}

.form-row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 3vh;
}

.form-row input,
.form-row select,
.form-row textarea {
    width: 46%;
    padding: 0.4em;
    border: 1px solid #444;
    border-radius: 5px;
    background-color: #333;
    color: #fff;
    font-size: 16px;
    margin-bottom: 3vh;
}

.form-row textarea {
    height: 100px;
    resize: none;
}

button {
    padding: 10px 20px;
    background-color: #FFA500;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    cursor: pointer;
    align-self: center;
    margin-top: 20px;
}

button:hover {
    background-color: #e9630e;
}

.bottom {
    background-color: #2a2a2a;
    padding: 2em;
    margin: 2em;
}

.bottom h1 {
    text-align: center;
    color: #FFA500;
}


#mew li {
    font-size: 1.1em;
    transform: translateX(30px);
}

.bot {
    display: flex;
    justify-content: center;

}

.maut {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    transform: translateX(-28px);
}

.maut p img {
    transform: translateY(4px);
    height: 3vh;
    width: 5vw;
}

.line {
    transform: translateX(19em);
    height: 0.5vh;
    width: 50vw;
    background-color: #FFA500;
}

@media only screen {
    
}